.page {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.regular {
  font-weight: 400;
  font-size: 14px;
  color: bisque;
}
.medium {
  font-weight: 500;
  font-size: 14px;
  color: bisque;
}
.black {
  font-weight: 900;
  font-size: 14px;
  color: bisque;
}
