.footer__copyright {
  font-size: 14px;
  line-height: 17px;
  color: var(--subsidiary-color);
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 18px;
    line-height: 22px;
  }
}
