.user__name {
  max-width: 460px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: var(--primary-text-color);
  margin: 0;
}

@media screen and (min-width: 768px) {
  .user__name {
    max-width: 240px;
    font-size: 42px;
    line-height: 48px;
  }
}
